/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General*/
body, html{
    height: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: #ecf0f5;
}

/*Navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;/*Se queda fija*/
    top: 0;/*Hasta arriba del documento*/
    z-index: 1;/*Hasta arriba en el eje z*/
}

.logo{
    font-size: 1.5rem;/*150%*/
    margin: .5em;
    letter-spacing: .1em;
}

.navbar-links ul{
    display: flex;
}

.navbar-links li{
    list-style: none;/*Remove the markers/bullets*/
}

.navbar-links li a{
    text-decoration: none;/*Quita el subrayado de los links*/
    color: white;
    padding: 1em;
    display: block;/*El hover ocupa todo el navbar*/
}

.navbar-links li:hover{
    background-color: #555;
}

.toggle-button{
    position: absolute;/*Estara al fondo sin importar el flujo de la pagina*/
    top: 1em;
    right: 1em;
    display: none;/*No se muestra en versión de escritorio*/
    flex-direction: column;/*Apila sus elementos en una columna*/
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .barra{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.toggle-button .barra2{
    height: 3px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
}

/*Tipografia*/
h1{
    font-size: 3rem;
    margin: 1em;
}

h2{
    font-size: 2rem;
    margin: 2em 0;
}

h3{
    font-size: 1.5rem;
    margin: 1em 0;
    text-align: left;
}

p{
    font-size: 1.25rem;
    margin: .5em;
}

/*Layout*/
.datosGenerales{
    margin-top: 5em;
    text-align: center;
}

.contenedor{
    width: 80%;
    margin: 0 auto;/*80% de grosor, centrado*/
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    padding: .5em;
    margin: 1em;
    color: white;
}

.card h3{
    text-align: center;
}

.card-confirmados{
    background-color: #e74a3b;
}

.card-defunciones{
    background-color: #0462be;
}

.card-letalidad{
    background-color: black;
}

.partidos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partido{
    width: 45%;
    padding: .5em;
    margin: 1em;
    background-color: white;
    border-radius: 10px;
}

.mini-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
}

.mini-card-poblacion{
    border-top: 3px solid #02a247;
    border-left: 3px solid #02a247;
}

.mini-card-confirmados{
    border-top: 3px solid #e74a3b;
    border-left: 3px solid #e74a3b;
}

.mini-card-defunciones{
    border-top: 3px solid black;
    border-left: 3px solid black;
}

@media (max-width: 620px){
    .logo{
        font-size: 1rem;/*100%*/
        margin: 1em;
    }

    .toggle-button{
        display: flex;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links.activo{
        display: flex;
    }

    h1{
        font-size: 2rem;
    }

    .cards, .partidos{
        flex-direction: column;
    }
    
    .card, .partido{
        width: 100%;
    }
}